<section>
  <div class="notice"></div>
</section>

<section class="projects">
  <h2>Proyectos destacados</h2>
  <div class="carrousel">
    <div class="carrousel_container">
      <div class="carrousel_card">
        <div class="carrousel_card_title">
          <h3>Titulo</h3>
        </div>
        <div class="carrousel_card_conten">
          <p>Profesor</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
        </div>
      </div>
      <div class="carrousel_card">
        <div class="carrousel_card_title">
          <h3>Titulo</h3>
        </div>
        <div class="carrousel_card_conten">
          <p>Profesor</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
        </div>
      </div>
      <div class="carrousel_card">
        <div class="carrousel_card_title">
          <h3>Titulo</h3>
        </div>
        <div class="carrousel_card_conten">
          <p>Profesor</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
        </div>
      </div>
      <div class="carrousel_card">
        <div class="carrousel_card_title">
          <h3>Titulo</h3>
        </div>
        <div class="carrousel_card_conten">
          <p>Profesor</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
        </div>
      </div>

      <div class="carrousel_card">
        <div class="carrousel_card_title">
          <h3>Titulo</h3>
        </div>
        <div class="carrousel_card_conten">
          <p>Profesor</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
          <p>Estudiante</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Sobre este proyecto</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus,
    blanditiis quaerat? Possimus totam odio sequi ipsa laborum inventore cumque
    quos id dignissimos quisquam, nesciunt alias distinctio quis dolorum dolores
    officia. Molestias earum doloremque libero tenetur esse pariatur vero ipsam
    nobis hic. Itaque fuga exercitationem accusamus obcaecati ducimus fugit cum,
    maxime soluta minima distinctio at vitae, impedit adipisci quos id? Sed!
    Quos quas voluptates reprehenderit. Saepe sequi assumenda, fugit dolor
    accusamus impedit quisquam odio, tempora sapiente veritatis illum cupiditate
    facilis fuga minima quidem nam corporis soluta enim voluptate explicabo.
    Animi, iste? Reiciendis vel accusamus molestiae aperiam quod enim illo
    laudantium, expedita quis id sunt accusantium reprehenderit excepturi aut
    cum ullam fuga, distinctio iure dolor dicta sequi ducimus! Dolore itaque est
    molestias. Officia tenetur, obcaecati porro eaque minima delectus! Quos
    excepturi quaerat totam? Explicabo iusto quibusdam eum mollitia iure quidem
    ducimus unde aliquam velit dolorum! Fuga similique sunt ducimus placeat!
    Esse, quibusdam. Nemo, quo quibusdam obcaecati, ducimus minus nostrum
    aspernatur iusto quaerat dignissimos labore cupiditate id quis voluptates ad
    eveniet facilis dolorem amet sint sunt nobis qui. Aut ea eveniet inventore
    ratione! Nobis vel atque nisi facere at? Eaque vero laboriosam blanditiis,
    laborum aspernatur dolorem accusantium qui consequatur delectus, repellat
    facere cumque molestiae recusandae debitis quos voluptas eum. Rerum quod
    totam libero. Alias eius culpa repellat iste reprehenderit pariatur?
    Expedita molestiae ipsam, culpa voluptate nemo eaque eos dolore sit
    explicabo illo tempore rem, nobis voluptatum iure! A porro assumenda
    architecto perferendis consequatur. Nisi delectus officia tempore ipsum
    doloribus? Quisquam explicabo cumque distinctio doloribus architecto
    deleniti esse eum ea deserunt a laudantium praesentium et maxime, voluptate
    commodi reprehenderit. Dolorum quidem minima magnam reiciendis? Minus,
    necessitatibus quod modi exercitationem eaque deserunt assumenda optio,
    culpa veritatis molestias eum quaerat at tempore possimus dolorum obcaecati
    dicta quidem, maxime temporibus quae amet fugit quasi distinctio eligendi.
    Non?
  </p>
</section>
