<section class="searcher">
  <div class="searcher__form">
    <input type="text" placeholder="Titulo o palabras clave" />
    <select name="select">
      <option value="" selected>Tipo Archivo</option>
      <option value="value2">Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <select name="select">
      <option value="">Tipo Archivo</option>
      <option value="value2">Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <input type="date" />
  </div>
  <div class="searcher__button">
    <button>Buscar</button>
  </div>
</section>

<section>
  <div class="card">
    <div class="card_principal">
      <div class="card_principal_img">
        <img src="" alt="" />
      </div>

      <div class="card_principal_text">
        <div class="card_principal_text_sup">
          <h3>Titulo</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            officiis pariatur dignissimos repellendus exercitationem quia
            obcaecati provident inventore in earum. Sapiente blanditiis omnis
            aliquid tempora iure consectetur excepturi eum repellendus! Ea quas
            deserunt animi eos! Facere itaque nostrum fugiat perspiciatis
            temporibus odit molestias? Provident itaque nihil voluptates impedit
            illum corporis esse nisi, sequi aliquam sint dolorem asperiores quae
            exercitationem nam.
          </p>
        </div>
        <div class="card_principal_text_inf">
          <p>Materias</p>
          <p>Año</p>
        </div>
      </div>
    </div>
    <div class="card_divisor"></div>
    <div class="card_secondary">
      <div class="card_secondary_participants">
        <p>Profesor</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
      </div>
      <div class="card_secondary_button">
        <button>Ver</button>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card_principal">
      <div class="card_principal_img">
        <img src="" alt="" />
      </div>

      <div class="card_principal_text">
        <div class="card_principal_text_sup">
          <h3>Titulo</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            officiis pariatur dignissimos repellendus exercitationem quia
            obcaecati provident inventore in earum. Sapiente blanditiis omnis
            aliquid tempora iure consectetur excepturi eum repellendus! Ea quas
            deserunt animi eos! Facere itaque nostrum fugiat perspiciatis
            temporibus odit molestias? Provident itaque nihil voluptates impedit
            illum corporis esse nisi, sequi aliquam sint dolorem asperiores quae
            exercitationem nam.
          </p>
        </div>
        <div class="card_principal_text_inf">
          <p>Materias</p>
          <p>Año</p>
        </div>
      </div>
    </div>
    <div class="card_divisor"></div>
    <div class="card_secondary">
      <div class="card_secondary_participants">
        <p>Profesor</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
      </div>
      <div class="card_secondary_button">
        <button>Ver</button>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card_principal">
      <div class="card_principal_img">
        <img src="" alt="" />
      </div>

      <div class="card_principal_text">
        <div class="card_principal_text_sup">
          <h3>Titulo</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            officiis pariatur dignissimos repellendus exercitationem quia
            obcaecati provident inventore in earum. Sapiente blanditiis omnis
            aliquid tempora iure consectetur excepturi eum repellendus! Ea quas
            deserunt animi eos! Facere itaque nostrum fugiat perspiciatis
            temporibus odit molestias? Provident itaque nihil voluptates impedit
            illum corporis esse nisi, sequi aliquam sint dolorem asperiores quae
            exercitationem nam.
          </p>
        </div>
        <div class="card_principal_text_inf">
          <p>Materias</p>
          <p>Año</p>
        </div>
      </div>
    </div>
    <div class="card_divisor"></div>
    <div class="card_secondary">
      <div class="card_secondary_participants">
        <p>Profesor</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
      </div>
      <div class="card_secondary_button">
        <button>Ver</button>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card_principal">
      <div class="card_principal_img">
        <img src="" alt="" />
      </div>

      <div class="card_principal_text">
        <div class="card_principal_text_sup">
          <h3>Titulo</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            officiis pariatur dignissimos repellendus exercitationem quia
            obcaecati provident inventore in earum. Sapiente blanditiis omnis
            aliquid tempora iure consectetur excepturi eum repellendus! Ea quas
            deserunt animi eos! Facere itaque nostrum fugiat perspiciatis
            temporibus odit molestias? Provident itaque nihil voluptates impedit
            illum corporis esse nisi, sequi aliquam sint dolorem asperiores quae
            exercitationem nam.
          </p>
        </div>
        <div class="card_principal_text_inf">
          <p>Materias</p>
          <p>Año</p>
        </div>
      </div>
    </div>
    <div class="card_divisor"></div>
    <div class="card_secondary">
      <div class="card_secondary_participants">
        <p>Profesor</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
        <p>Estudiante</p>
      </div>
      <div class="card_secondary_button">
        <button>Ver</button>
      </div>
    </div>
  </div>


  
</section>
