<body>
    <body class="container">
        <nav class="Barra_de_navegacion">
            <div class="Barra_de_navegacion_IMG">
                <img src="assets\Polilogo.JPG" alt="0" class="IMG">
            </div>
            <div class="Barra_de_navegacion_enlaces">
                
                <h3 class="enlaces">Crear</h3>
                <h3 class="enlaces">Buscar</h3>
                <h3 class="enlaces">Login</h3>
            </div>
        </nav>
        <main class="Cuerpo">
            <aside class="Cuerpo_inicio">
                <h1 class="Cuerpo_inicio_sesion">INICIO DE SESIÓN</h1>
                <p><input type="text" name="Usuario" value="Usuario"/></p>
                <p><input type="text" name="Contraseña" value="Contraseña"/></p>
                <h4>¿Olvidaste tu contraseña?</h4>
                <button>Ingresar</button>
                <p></p>
            </aside>
            
            <div class="Cuerpo_Carrusel">
                /*Falta carrusel*/
            </div>
        </main>
        </body>
        <footer class="INFO">
            <footer class="INFO_Slogan">
                <h2>Somos diferentes, somos poli.</h2>
                <h2>|</h2>
                <h2>POLI.EDU.CO</h2>
            </footer>
            <footer class="INFO_Contacto">
                <h3>Sede Bogotá: calle 57 3 - 00 Este</h3>
                <h3>Sede Medellín: Carrera 74 52 - 20, barrio Los Colores</h3>
                <h3>Línea nacional: 01 8000 180 779</h3>
            </footer>
            <footer class="INFO_Redes">
                <h1>Siguenos</h1>
                <h4> O O O O </h4>
            </footer>
            <footer class="INFO_Legal">
                <h5>Todos los derechos reservados</h5>
            </footer>
        </footer>
    