<div class="container">
<section class="izq">
<h1>Partes</h1>
<button>Parte A</button>
<button>Parte A</button>
<button>Parte A</button>
<button>Parte A</button>
<button>Parte A</button>
</section>

<section class="der">
<div class="der_h2">
    <h2>Titulo</h2>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sunt odit voluptas provident quae animi aperiam odio porro aut nisi quas quaerat aliquid explicabo doloremque esse, corrupti quia libero magnam.
    Blanditiis, vel distinctio inventore ex neque aspernatur harum, delectus nisi saepe iure, dolore culpa? Perspiciatis sapiente accusamus ratione officiis consequuntur mollitia aspernatur labore at ipsum, quis ullam ab beatae eligendi?
    Iste commodi beatae praesentium similique voluptate vel molestiae maiores eius ratione modi, excepturi impedit, in earum pariatur expedita deserunt nulla sed quidem quae. Similique labore nisi dicta perspiciatis, esse adipisci.</p>
</div>

<div class="der_teacher">
    <div class="der_teacher_t">
        <p>Profesor</p>
    </div>
    <div class="der_teacher_m">
        <p>Materia</p>
    </div>
</div>

<div class="der_dates">
    <div>
        <h3>Fecha Inicio</h3>
        <p>asdasd</p>
    </div>
    <div>
        <h3>Fecha Primera entrega</h3>
        <p>asdasd</p>
    </div>
    <div>
        <h3>Fecha final</h3>
        <p>asdas</p>
    </div>

</div>



</section>

</div>