<section>
  <div class="sup">
    <div class="sup_img">
        <img src="" alt=""/>
    </div>
    <div class="sup_text">
      <h1 >Titulo</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi nulla quasi vitae distinctio nobis suscipit alias esse incidunt sint, voluptate sequi exercitationem soluta dolore. Possimus dolor cupiditate obcaecati. Et, aliquid!
      Accusamus excepturi rem quaerat voluptates minus ad, voluptatem labore ratione aut inventore consectetur, voluptatibus nostrum nemo dicta amet iure, cumque expedita iste beatae fuga odit vel. Doloremque minima reiciendis ipsa!
      Optio, ipsa provident deleniti, cumque, eveniet voluptates adipisci commodi error quidem dignissimos expedita temporibus id fugiat? Facere possimus asperiores soluta. Iure vitae quis voluptatum at consectetur atque nam deleniti incidunt.</p>
    </div>
  </div>
  <div class="divisor"></div>

  <div class="inf">
    <div class="inf_participants">
      <p>Profesor</p>
      <p>Estudiante</p>
      <p>Estudiante</p>
      <p>Estudiante</p>
      
    </div>
    <div class="inf_keywords">
        <div class="inf_keywords_p">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam obcaecati, sit ratione blanditiis delectus dolorum doloribus perferendis quos libero incidunt iusto! Magni, provident? Quis tempora aliquam assumenda ex sunt rem!</p></div>
        
    </div>
  </div>

  <div class="inf">
    <div class="inf_participants">
      <button>Descargar</button>
    </div>
    <div class="inf_keywords">
        <button>Ver online</button>
    </div>
  </div>

</section>
